<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <script
            src="{{ url_for('static', filename='css/bootstrap.min.css') }}"></script>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% block title %}
    Title placeholder
    {% endblock %}
</head>
{% include 'includes/header.html' %}
<body>
<main>
    <div class="container py-5">
        {% block body %}
        Body placeholder
        {% endblock %}
    </div>
</main>
</body>
</html>